[project]
	description = Lazarsoft's jsqrcode as a node module, object oriented
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xanir
[access "refs/for/refs/*"]
	read = group user/Xanir
	push = group user/Xanir
	label-Code-Review = -2..+2 group user/Xanir
	label-Verified = -1..+1 group user/Xanir
	rebase = group user/Xanir
	removeReviewer = group user/Xanir
	submit = group user/Xanir
[access "refs/heads/*"]
	read = group user/Xanir
	create = group user/Xanir
	push = +force group user/Xanir
	pushMerge = group user/Xanir
[access "refs/tags/*"]
	push = +force group user/Xanir
	pushTag = group user/Xanir
	pushSignedTag = group user/Xanir
